<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">
</head>
<body>
    <h1 id="title">Data Download Links</h1>
    <div class="All-data">
        <label for="download-btn">All Saved Data: (JSON Format)</label>
        <button id="download-btn"><a href="../cyowuebhd7cqt687dfqvsdyioeiojcp89/2" target="_blank" download>Download</a></button>
    </div>
    <div class="severity-graph">
        <label for="s-download-btn">Severity Graph: (Image Format)</label>
        <button id="s-download-btn"><a href="../cyowuebhd7cqt687dfqvsdyioeiojcp89/3" target="_blank" download>Download</a></button>
    </div>
</body>
</html>